<li class="p-3 border-bottom-1 surface-border flex align-items-start sm:align-items-center">
    <img [src]="cartProduct.productImageUrl" class="w-3rem sm:w-8rem flex-shrink-0 mr-3 shadow-2" />
    <div class="flex flex-column">
        <span class="text-900 font-medium text-xl mb-2">{{cartProduct.productName}}</span>
        <div class="flex flex-row">
            <span class="text-900 font-medium mb-3" i18n="@@quantity">Quantity:</span>
            &nbsp;
            <span class="text-900 font-medium mb-3">{{cartProduct.quantity}}</span>
        </div>
    </div>
    <span class="text-900 font-medium text-lg ml-auto">{{cartProduct.price * cartProduct.quantity | currency}}</span>
</li>