<div class="bg-gray-900 py-3 shadow-2 flex align-items-center justify-content-between relative border-bottom-1 border-gray-800"
    style="min-height: 84px">
    <div [routerLink]="['/shop/products']"
        class="text-3xl flex px-6 p-3 align-items-center text-gray-400 cursor-pointer">AnimalPhotoShop</div>
    <ul class="list-none p-0 m-0 flex  select-none flex-row">
        <li>
            <a (click)="navigateToAdmin()" pRipple
                class="flex px-4 p-3 align-items-center text-gray-400 hover:text-white hover:bg-gray-800 font-medium border-round cursor-pointer transition-colors transition-duration-150">
                <i class="pi pi-user mr-2"></i>
                <span>Admin</span>
            </a>
        </li>
        <li>
            <a (click)="navigateToCart()" pRipple
                class="flex px-4 p-3 align-items-center text-gray-400 hover:text-white hover:bg-gray-800 font-medium border-round cursor-pointer transition-colors transition-duration-150">
                <i class="pi pi-shopping-cart mr-2"></i>
                <span i18n="@@cart">Cart</span>
            </a>
        </li>
    </ul>
</div>